{% extends 'master.html' %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <h1>
                {{ patika.naziv }}

            </h1>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Model: {{ patika.model }}</p>
                <p>Velicina: {{ patika.velicina }}</p>
                <p>Cena: {{ patika.cena }}</p>

            </blockquote>
        </div>

        <div>
            <h2>
            {% if perms.patikeapp.change_patika %}
                    <a href="{% url 'patikeapp:edit' patika.id %}">
                        <span class="badge badge-primary">Edit</span>
                    </a>

                <a href="{% url 'patikeapp:delete' patika.id %}">
                        <span class="badge badge-primary" style="background-color: red">Delete</span>
                    </a>
            </h2>

                {% endif %}
<h6>
<form method="post" action="{% url 'patikeapp:oceni' patika.id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.ocena.id_for_label }}">{{ form.ocena.label_tag }}</label>
            <input type="text" class="form-control" id="{{ form.ocena.id_for_label }}" name="{{ form.ocena.name }}">
            {% if form.ocena.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.ocena.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.opis.id_for_label }}">{{ form.opis.label_tag }}</label>
            <textarea class="form-control" id="{{ form.opis.id_for_label }}" name="{{ form.opis.name }}" rows="1"></textarea>
            {% if form.opis.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.opis.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <input type="submit" class="btn btn-primary btn-lg" value="Oceni"/>
    </form>


</h6>
    </div>



</div>

<div>
            <br>

     {% for o in ocene %}
        {{o.owner}}:
        {{o.ocena}} -
        {{o.opis}}

        <br>
    {% endfor %}

</div>



{% endblock %}