{%  extends 'master.html' %}

{% block title %}
    Patike
{% endblock %}

{%  block content %}
    <div class="row">
        {% for patika in patike %}

            <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">

              <div class="card-body" style="background-color: #d3d3d3">
                <h4 class="card-title">
                  <a href="{%url 'patikeapp:patika' patika.id%}">{{ patika.naziv }}</a>
                </h4>
                <h5>{{ patika.model }}</h5>
                <p class="card-text">{{ patika.cena }} rsd</p>
              </div>

            </div>
          </div>

        {% endfor %}
    </div>
{% endblock %}