{% extends "master.html" %}

{% block content %}
    <div class="container">
        <form action="{% url 'patikeapp:user_register' %}" method="post">
            {% csrf_token %}
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>
                            Registracija
                        </h1>
                    </div>
                    <div class="panel-body">
                        {% if error_message %}
                            <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                        {% endif %}
                       
                        <div class="form-group clearfix">
                            <label for="{{ form.username.id_for_label }}" >Korisnicko ime<span class="text-red">*</span>:</label>

                                {{ form.username }}

                        </div>
                        <div class="form-group clearfix">
                            <label for="{{ form.email.id_for_label }}" >Email<span class="text-red">*</span>:</label>

                                {{ form.email }}

                        </div>
                        <div class="form-group clearfix">
                            <label for="{{ form.password.id_for_label }}" >Sifra<span class="text-red">*</span>:</label>

                                {{ form.password }}

                        </div>
                        <div class="form-group clearfix">
                            <label for="{{ form.password_repeat.id_for_label }}" >Potvrdite sifru:</label>

                                {{ form.password_repeat }}

                        </div>
                        <div class="form-group clearfix">
                            <label for="{{ form.first_name.id_for_label }}">Ime:</label>

                                {{ form.first_name }}

                        </div>
                        <div class="form-group clearfix">
                            <label for="{{ form.last_name.id_for_label }}" >Prezime:</label>

                                {{ form.last_name }}

                        </div>
                        <div class="form-group clearfix">
                            <label for="{{ form.phone_number.id_for_label }}" >Broj telefona:</label>

                                {{ form.phone_number }}

                        </div>
                        <div class="col-md-15 col-md-offset-4">
                            <input type="submit" value="Register" class="btn btn-success">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}